zabbix-username = admin
zabbix-password = secret
zabbix-url = http://zabbix.host.corp/

#ssh-key = ~/.ssh/production
#ssh-user = root
#ssh-options = -oForwardX11=yes

ansible_connection = ssh
ansible_ssh_user = root
ansible_ssh_private_key_file = ~/.ssh/id_rsa
ansible_python_interpreter = python

#debug = yes

mount-dir = ~/sshfs/$hostname
mount-options = allow_other

# Replace query space to .* and on regexp (-r)
replace-space = yes

alias test1 = test-1.host.corp
alias test2 = test-2.host.corp
